* {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
}

caption {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.board_list_wrap {
    padding: 100px;
}

.board_list {
    width: 100%;
    min-width: 500px;
    border-top: 2px solid rgb(48,27,1);
}

.board_list tr {
    border-bottom: 1px solid #ccc;
}

.board_list th {
    background-color: #eee;
}

.board_list th, .board_list td {
    padding: 8px;
    font-size: 14px;
}

.board_list td {
    text-align: center;
}

.board_list .title {
    text-align: left;
}

.board_list tbody tr td:nth-child(2) {
    text-align: left;
}

.board_list .title:hover {
    text-decoration: underline;
}

.board_list_wrap .paging {
    margin-top: 20px;
    font-size: 0;
    text-align: right;
}

.board_list_wrap .paging a {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 12px;
}

.board_list_wrap .paging a:first-child {
    margin-left: 0;
}

.board_list_wrap .paging a.btn {
    border: 1px solid #eee;
    background: #eee;
}

.board_list_wrap .paging a.num {
    border: 1px solid #ccc;
    font-weight: 600;
}

.board_list_wrap .paging a.num.on {
    border: 1px solid rgb(246, 218, 66);
    background: rgb(246, 218, 66);
}

#searchForm {
    margin-top: 20px;
}

#searchForm select, input, button {
    padding: 3px;
    border: 1px solid #ccc;
}

#searchForm input {
    padding: 4px 8px;
    width: 200px;
}

#searchForm button:hover {
    cursor: pointer;
    background-color: rgb(246, 218, 66);
    border: 1px solid rgb(246, 218, 66);
}

.cat{
    font-size: 15px;
    width: 100px;
    height: 30px;
    margin-right: 29.5px;
}

.board_list td img{
    width: 100px;
    height: 100px;
    border: solid 1px black;
}

#thumb{
    width: 100px;
}

#title{
    width: 300px;
}

thead {
    text-align: center;
}

.search{
    padding: 35px 50px;
    text-align: center;
}


.checkedBox{
    display: inline;
}

.box {
    display: inline;
    margin-right: 20px;
}