
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
    margin-top: 20px;
}

.navbar-brand{
    margin-left: 10%;
}

.bg-light{
    background: transparent  !important;
}

.total{
    width: 100%;
}

.wrapp{
	width: 70%;
    margin: 100px auto;
    box-sizing: border-box;
    height: auto;

    overflow: hidden;
}


.meet{
    float: left;
}

.meet.left{
    border:solid 1px black;
    width: 30%;
    height: 100%;
}

.left img{
    width: 100%;
    height: 100%;
}

.meet.right{
    width: 70%;
    height: 100%;
    margin-right: 0;
    overflow: hidden;
}

.meet.top{
    width: 100%;
    height: auto;
    letter-spacing: 1.5px;
    text-align: left;
    
}



.title p{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
}

.title p{
    width: 80%;
    height: 100%;
}


.line{
    display: inline-block;
    width: 100%;
    position: relative;
    bottom: 30px;

}

.bottom{
    margin-top: 30px;
    margin-left: 10px;
    background-color: rgb(62,44,29);
    width: 100%;
    height: 500px;
    position: relative;
}

#inquiry{
    position: absolute;
    bottom: 15px;
    right: 10px;
    background-color: aqua;
}

#wish{
    position: absolute;
    bottom: 15px;
    right: 100px;
    background-color: aqua;
}


.bottom li{
    margin-bottom: 10px;
}

.content{
    width: 100%;
    height: auto;
    margin-top: 6%;
    letter-spacing: 2px;
    color: rgb(250, 176, 24);
}

.mid{
    width: 70%;
    margin: 100px auto;
    box-sizing: border-box;
}

.information{
    font-size: large;
    font-weight: bold;
    margin-left: 30px;
}

.first_line{
    width: 100%;
    margin-top: 15px;
}

.data{
    background-color:rgb(250, 176, 24);
    width: 100%;
    height: 120px;
    border-radius: 10px;
    padding: 20px;
    font-weight: 800;
}

.text{
    margin-top: 30px;
}

.second_line{
    width: 100%;
    margin-top: 15px;
}




