<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honeybee.mapper.CodeTableMapper">

	<select id="getCatList"
		resultType="com.honeybee.domain.CodeTableVO">
	<![CDATA[
		select * from code_table where ctype='모임게시판'
	]]>
	</select>

	<select id="upperregion"
		resultType="com.honeybee.domain.CodeTableVO">
		SELECT * FROM CODE_TABLE WHERE CTYPE='시도'
	</select>
	
	<select id="detailregion" resultType="com.honeybee.domain.CodeTableVO">
	select CNAME from code_table where (substr(CID,0) like  #{cId} || '%') and CID != #{cId}
	</select>
</mapper>