<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honeybee.mapper.EnrollListMapper">


	<select id="getEnrollList" resultType="com.honeybee.domain.EnrollListVO">
	<![CDATA[
		SELECT * from ENROLL_LIST
	]]>
	</select>


	<select id="getEnrollStatus" resultType="com.honeybee.domain.CodeTableVO">
	<![CDATA[
		select cname from code_table where cid in (select cid2 from enroll_list where id=#{id})
	]]>
	</select>

	<select id="getEnrollTitle" resultType="com.honeybee.domain.MeetVO">
	<![CDATA[
		select title from meet where mno in (select mno from enroll_list where id=#{id})
	]]>
	</select>
	
	<insert id="insert">
		insert into enroll_list(ENO,ID,CID,MNO)
		values(#{id}||#{mno}, #{id}, (select cid from meet where mno = #{mno}), #{mno})
	</insert>

	<select id="checkApplyList" resultType ="com.honeybee.domain.EnrollListVO">
		select * from ENROLL_LIST where CNCLDT is null and ENO = #{eno}
	</select>
	
	<delete id="delete">
		delete from ENROLL_LIST where ENO = #{id}||#{mno}
	</delete>
</mapper>