<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honeybee.mapper.FreeReplyMapper">

	<insert id="insert">
		<selectKey keyProperty="frno" order="BEFORE" resultType="long">
			select SEQ_FREE_REPLY.nextval from dual
		</selectKey>
		insert into FREE_REPLY (FRNO, FNO, ID, REPLY, BUNDLE, BUNORDER)
		values (#{frno}, #{fno}, #{id}, #{reply}, #{frno}, #{frno})
	</insert>

	<insert id="insertAnswer">
		<selectKey keyProperty="frno" order="BEFORE" resultType="long">
			select SEQ_FREE_REPLY.nextval from dual
		</selectKey>

		insert into FREE_REPLY (FRNO, FNO, ID, REPLY, LAYER, BUNDLE, BUNORDER)
		values (${frno}, #{fno}, #{id}, #{reply}, #{layer}, #{bundle}, #{bunorder})
	</insert>

	<select id="read" resultType="com.honeybee.domain.FreeReplyVO">
		select * from FREE_REPLY
		where FRNO = #{frno} and DELDT is null
	</select>

	<update id="update">
		update FREE_REPLY
		set REPLY = #{reply},
			UPTDT = sysdate
		where FRNO = #{frno}
	</update>

	<delete id="delete">
		update FREE_REPLY
		set DELDT = sysdate
		where FRNO = #{frno}
	</delete>

	<select id="getList" resultType="com.honeybee.domain.FreeReplyVO">
		select FRNO, FNO, ID, FRNO2, REPLY, LAYER, BUNDLE, BUNORDER, NICK, THUMB, REGDT, UPTDT
		from FREE_REPLY
		where FNO = #{fno} and DELDT is null
		order by BUNDLE, BUNORDER, LAYER, REGDT asc
	</select>

	<select id="readmyfreereply"
		resultType="com.honeybee.domain.FreeReplyVO">   <!--김세훈 내가 쓴 자유게시물 댓글 가져오는 SQL -->
		select frno, fno, id, frno2, reply, layer, nick, regdt,
		uptdt, deldt
		from free_reply where id=#{id} and deldt is null order by regdt
	</select>

	<select id="getfreereplystatus"
		resultType="com.honeybee.domain.FreeReplyVO">
		select r.fno, f.deldt from free_reply r, free f where (r.id
		=#{id}) and
		(r.fno=f.fno) order by r.regdt
	</select><!-- 김세훈 내가 쓴 댓글이 달린 자유 게시글의 상태 -->


</mapper>