<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honeybee.mapper.FreeReplyMapper">

	<insert id="insert">
		insert into free_reply (frno, fno, id, reply)
		values
		(seq_free_reply.nextval, #{fno}, #{id}, #{reply})
	</insert>

	<select id="read" resultType="com.honeybee.domain.FreeReplyVO">
		select * from free_reply where frno
		= #{frno}
	</select>

	<update id="update">
		update FREE_REPLY
		set reply = #{reply}
		where frno =
		#{frno}
	</update>

	<delete id="delete">
		delete from FREE_REPLY where frno = #{frno}
	</delete>

	<select id="readmyfreereply"
		resultType="com.honeybee.domain.FreeReplyVO">   <!--김세훈 내가 쓴 자유게시물 댓글 가져오는 SQL -->
		select frno, fno, id, frno2, reply, layer, nick, regdt,
		uptdt, deldt
		from free_reply where id=#{id} and deldt is null order by regdt
	</select>

	<select id="getfreereplystatus"
		resultType="com.honeybee.domain.FreeReplyVO">
		select r.fno, f.deldt from free_reply r, free f where (r.id
		=#{id}) and
		(r.fno=f.fno) order by r.regdt
	</select><!-- 김세훈 내가 쓴 댓글이 달린 자유 게시글의 상태 -->


</mapper>