<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honeybee.mapper.FreeReplyMapper">

	<insert id="insert">
		insert into FREE_REPLY (FRNO, FNO, ID, REPLY)
		values (seq_free_reply.nextval, #{fno}, #{id}, #{reply})
	</insert>

	<select id="read" resultType="com.honeybee.domain.FreeReplyVO">
		select * from FREE_REPLY
		where FRNO = #{frno} and DELDT is null
	</select>
	
	<update id="update">
		update FREE_REPLY
		set REPLY = #{reply}
		where FRNO = #{frno}
	</update>
	
	<delete id="delete">
		delete from FREE_REPLY where FRNO = #{frno}
	</delete>
	
	<select id="getList" resultType="com.honeybee.domain.FreeReplyVO">
		select FRNO, FNO, ID, FRNO2, REPLY, LAYER, BUNDLE, BUNORDER, NICK, THUMB, REGDT, UPTDT
		from FREE_REPLY
		where FNO = #{fno} and DELDT is null
		order by FRNO asc
	</select>
	

</mapper>