<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honeybee.mapper.FreeMapper">

	<select id="getList" resultType="com.honeybee.domain.FreeVO">
		<![CDATA[
			select
				FNO, ID, TITLE, TO_CHAR(CONTENT) AS CONTENT, HIT, THUMB, REGDT, UPDDT, DELDT
			from FREE where FNO > 0 and DELDT is null
		]]>
	</select>

	<select id="getMyList" resultType="com.honeybee.domain.FreeVO">
	select  FNO, ID, TITLE, TO_CHAR(CONTENT) AS CONTENT, HIT, THUMB, REGDT, UPDDT, DELDT from FREE where id = #{id} and DELDT IS NOT NULL
	</select>

	<!-- CREATE -->
	<insert id="insert">
		<selectKey keyProperty="fno" order="BEFORE"
			resultType="long">
			select seq_free.nextval from dual
		</selectKey>
		
		insert into FREE (fno, title, content)
		values (#{fno}, #{title}, #{content})
	</insert>

	<!-- READ -->
	<select id="read" resultType="com.honeybee.domain.FreeVO">
		select
		FNO, ID, TITLE, TO_CHAR(CONTENT) AS CONTENT, HIT, THUMB, REGDT, UPDDT,
		DELDT
		from FREE where fno = #{fno}
	</select>

	<!-- UPDATE -->
	<update id="update">
		update FREE
		set id = #{id},
			title = #{title},
			content = #{content},
			hit = #{hit},
			thumb = #{thumb},
			upddt = sysdate
		where fno = #{fno}
	</update>

	<!-- DELETE -->
	<delete id="delete">
		update FREE
		set deldt = sysdate
		where fno = #{fno}
	</delete>
	
	<delete id="removetest">  <!-- 김세훈 테스트 -->
		update FREE
		set deldt = sysdate
		where fno = #{fno}
	</delete>
	
</mapper>
