<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honeybee.mapper.InquiryMapper">

	<insert id="reportBadFno">
		<selectKey keyProperty="ino" order="BEFORE" resultType="long">
			select seq_inquiry.nextval from dual
		</selectKey>
		
		insert into INQUIRY (INO, ID, CAT, TITLE, CONTENT, FNO)
		values (#{ino}, #{id}, 1, #{title}, #{content}, #{fno})
		<!-- 신고이므로, CAT에 1값을 준다.(문의는 2) -->
	</insert>
	
	<insert id="reportBadFrno">
		<selectKey keyProperty="ino" order="BEFORE" resultType="long">
			select seq_inquiry.nextval from dual
		</selectKey>
		
		insert into INQUIRY (INO, ID, CAT, TITLE, CONTENT, FRNO)
		values (#{ino}, #{id}, 1, #{title}, #{content}, #{frno})
	</insert>
	
	<select id="read" resultType="com.honeybee.domain.InquiryVO">
		select *
		from INQUIRY
		where INO = #{ino}
	</select>
	
	<delete id="delete">
		update INQUIRY
		set DELDT = SYSDATE
		where ino = #{ino}
	</delete>
	
	<select id="getReportList" resultType="com.honeybee.domain.InquiryVO">
		<![CDATA[
			select 
				INO, ID, TITLE, CONTENT, STATUS, ANSWER, MNO, MRNO, FNO, FRNO, REGDT
			from INQUIRY
			where INO > 0 and CAT = 1 and DELDT is null
			order by INO desc
		]]>
	</select>
	
	<select id="getInquiryList" resultType="com.honeybee.domain.InquiryVO">
		<![CDATA[
			select
				INO, ID, TITLE, CONTENT, STATUS, ANSWER, REGDT
			from INQUIRY
			where INO > 0 and CAT = 2 and DELDT is null
			order by INO desc
		]]>
	</select>

</mapper>