<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honeybee.mapper.MeetMapper">

<select id="getList" resultType="com.honeybee.domain.MeetVO">
	<![CDATA[
		select
			MNO,
			CID,
			CID2,
			CID3,
			ID,
			TITLE,
			SMRY,
			to_char(SUBSTR(CONTENT,1,2000)) AS CONTENT,
			STARTDT,
			ENDDT,
			RECSDT,
			RECEDT,
			RECNO,
			CURRNO,
			CNCLNO,
			HIT,
			THUMB,
			CHARGE,
			ONOFF,
			PLACE,
			LINK,
			IMG,
			REGDT,
			UPDDT,
			DELDT
			from MEET
			where mno >0 order by regdt desc
	]]>
</select>


<insert id="insert">
	insert into meet(
			MNO,
			CID,
			CID2,
			CID3,
			ID,
			TITLE,
			SMRY,
			CONTENT,
			STARTDT,
			ENDDT,
			RECSDT,
			RECEDT,
			RECNO,
			CURRNO,
			CNCLNO,
			HIT,
			THUMB,
			CHARGE,
			ONOFF,
			PLACE,
			LINK,
			IMG)
			values
			(
			SEQ_meet.nextval,
			#{cid},
			#{cid2},
			(select cname from code_table where cid = #{cid}),
			#{id}, 
			#{title},
			#{smry},
			#{content},
			#{startDt},
			#{endDt},
			#{recsDt},
			#{receDt},
			#{recNo},
			#{currNo},
			#{cnclNo},
			#{hit},
			#{thumb},
			#{charge},
			#{onoff},
			#{place},
			#{link},
			#{img}
			)
</insert>

<insert id="insertSelectKey">
	<selectKey keyProperty="mno" order="BEFORE" resultType="long">
		select seq_meet.nextval from dual
	</selectKey>

	insert into meet(MNO,
			CID,
			CID2,
			CID3,
			ID,
			TITLE,
			SMRY,
			CONTENT,
			STARTDT,
			ENDDT,
			RECSDT,
			RECEDT,
			RECNO,
			CURRNO,
			CNCLNO,
			HIT,
			THUMB,
			CHARGE,
			ONOFF,
			PLACE,
			LINK,
			IMG)
			values(
			#{mno},
			#{cid},
			#{cid2},
			(select cname from code_table where cid = #{cid}),
			#{id},
			#{title},
			#{smry},
			#{content},
			#{startDt},
			#{endDt},
			#{recsDt},
			#{receDt},
			#{recNo},
			#{currNo},
			#{cnclNo},
			#{hit},
			#{thumb},
			#{charge},
			#{onoff},
			#{place},
			#{link},
			#{img})
</insert>

<select id="read" resultType="com.honeybee.domain.MeetVO">
	select MNO,
			CID,
			CID2,
			CID3,
			ID,
			TITLE,
			SMRY,
			to_char(SUBSTR(CONTENT,1,2000)) AS CONTENT,
			STARTDT,
			ENDDT,
			RECSDT,
			RECEDT,
			RECNO,
			CURRNO,
			CNCLNO,
			HIT,
			THUMB,
			CHARGE,
			ONOFF,
			PLACE,
			LINK,
			IMG,
			REGDT,
			UPDDT,
			DELDT
			from MEET
			where mno = #{mno}
</select>

<update id="delete">
	update meet set DELDT = sysdate where mno = #{mno}
</update>

<update id="update">
	update meet
	set
			TITLE = #{title},
			SMRY = #{smry},
			CID = #{cid},
			CID3 = (select cname from code_table where cid = #{cid}),
			CONTENT = #{content},
			STARTDT = #{startDt},
			ENDDT = #{endDt},
			RECSDT = #{recsDt},
			RECEDT = #{receDt},
			RECNO = #{recNo},
			CHARGE = #{charge},
			ONOFF = #{onoff},
			PLACE = #{place},
			LINK = #{link},
			IMG = #{img},
			updDt = sysdate
	where mno = #{mno}
</update>

<select id="getMyList" resultType="com.honeybee.domain.MeetVO">
  <![CDATA[
    select
      MNO,
      CID,
      CID2,
      CID3,
      TITLE,
      SMRY,
      to_char(SUBSTR(CONTENT,1,2000)) AS CONTENT,
      STARTDT,
      ENDDT,
      RECSDT,
      RECEDT,
      RECNO,
      CURRNO,
      CNCLNO,
      HIT,
      THUMB,
      CHARGE,
      ONOFF,
      PLACE,
      LINK,
      IMG,
      REGDT,
      UPDDT,
      DELDT
      from MEET
      where id = #{id}
  ]]>
</select>

<sql id="criteria">
      <trim prefix="(" suffix=") AND " prefixOverrides="OR">
      	<foreach item='type' collection="typeArr">
      	<trim prefix="OR">
      		<choose>
      			<when test="type == 'T'.toString()">
      				title like '%'||#{keyword}||'%'
      			</when>
      			<when test="type =='C'.toString()">
      				content like '%'||#{keyword}||'%'
      			</when>
      			<when test="type =='W'.toString()">
      				id like '%'||#{keyword}||'%'
      			</when>
      		</choose>
      	</trim>
      	</foreach>
      </trim>
</sql>


<select id="getListWithPaging" resultType="com.honeybee.domain.MeetVO">
	<![CDATA[
		select
		  MNO,
	      CID,
	      CID2,
	      CID3,
	      ID,
	      TITLE,
	      SMRY,
	      to_char(SUBSTR(CONTENT,1,2000)) AS CONTENT,
	      STARTDT,
	      ENDDT,
	      RECSDT,
	      RECEDT,
	      RECNO,
	      CURRNO,
	      CNCLNO,
	      HIT,
	      THUMB,
	      CHARGE,
	      ONOFF,
	      PLACE,
	      LINK,
	      IMG,
	      REGDT,
	      UPDDT,
	      DELDT
	      

	      from( select ]]>
	      
	      <if test='order == "latest"'>
	      /*+index_desc(meet meet_pk)*/
	      </if>
	      
	      <![CDATA[
	      rownum rn,
	      MNO,
	      CID,
	      CID2,
	      CID3,
	      ID,
	      TITLE,
	      SMRY,
	      to_char(SUBSTR(CONTENT,1,2000)) AS CONTENT,
	      STARTDT,
	      ENDDT,
	      RECSDT,
	      RECEDT,
	      RECNO,
	      CURRNO,
	      CNCLNO,
	      HIT,
	      THUMB,
	      CHARGE,
	      ONOFF,
	      PLACE,
	      LINK,
	      IMG,
	      REGDT,
	      UPDDT,
	      DELDT
	      from ]]> 
	      
	      
	       <trim prefix="(" suffix=")">
	       <choose>
	       	<when test='order == "popul"'>
	        select
			  MNO,
		      CID,
		      CID2,
		      CID3,
		      ID,
		      TITLE,
		      SMRY,
		      to_char(SUBSTR(CONTENT,1,2000)) AS CONTENT,
		      STARTDT,
		      ENDDT,
		      RECSDT,
		      RECEDT,
		      RECNO,
		      CURRNO,
		      CNCLNO,
		      HIT,
		      THUMB,
		      CHARGE,
		      ONOFF,
		      PLACE,
		      LINK,
		      IMG,
		      REGDT,
		      UPDDT,
		      DELDT from meet where DELDT is null order by thumb desc, hit desc, regdt desc
	       	</when>
	       	<when test='order == "latest"'>
	       	 meet
	       	</when>
	       </choose>
		   </trim>

	      
	      <![CDATA[ where (DELDT is null) and ]]>

	      <include refid="criteria"></include>

	      <![CDATA[
	       rownum <= #{pageNum} * #{amount}
	      )

	      where rn > (#{pageNum}-1) * #{amount}
		  ]]>
</select>


<select id="getListWithPagingAndCat" resultType="com.honeybee.domain.MeetVO">
	<![CDATA[
		select
		  MNO,
	      CID,
	      CID2,
	      CID3,
	      ID,
	      TITLE,
	      SMRY,
	      to_char(SUBSTR(CONTENT,1,2000)) AS CONTENT,
	      STARTDT,
	      ENDDT,
	      RECSDT,
	      RECEDT,
	      RECNO,
	      CURRNO,
	      CNCLNO,
	      HIT,
	      THUMB,
	      CHARGE,
	      ONOFF,
	      PLACE,
	      LINK,
	      IMG,
	      REGDT,
	      UPDDT,
	      DELDT

	      from(
	      select /*+index_desc(meet meet_pk)*/
	      rownum rn,
	      MNO,
	      CID,
	      CID2,
	      CID3,
	      ID,
	      TITLE,
	      SMRY,
	      to_char(SUBSTR(CONTENT,1,2000)) AS CONTENT,
	      STARTDT,
	      ENDDT,
	      RECSDT,
	      RECEDT,
	      RECNO,
	      CURRNO,
	      CNCLNO,
	      HIT,
	      THUMB,
	      CHARGE,
	      ONOFF,
	      PLACE,
	      LINK,
	      IMG,
	      REGDT,
	      UPDDT,
	      DELDT
	      from meet where  (DELDT is null) and (CID = #{cid}) and ]]>

	      <include refid="criteria"></include>

	      <![CDATA[
	      rownum <= #{pageNum} * #{amount}
	      )

	      where rn > (#{pageNum}-1) * #{amount}
		  ]]>
</select>

<select id="getTotalCount" resultType="int">
	select count(*) from meet where (delDt is null) and <include refid="criteria"></include> mno > 0
</select>

<select id="getTotalCountWithCat" resultType="int">
	select count(*) from meet where (delDt is null) and (CID=#{cid}) and <include refid="criteria"></include> mno > 0
</select>

<select id="getListTest" resultType="com.honeybee.domain.MeetVO">
  <![CDATA[
    select 
      MNO,
      CID,
      CID2,
      CID3,
      TITLE,
      SMRY,
      to_char(SUBSTR(CONTENT,1,2000)) AS CONTENT,
      STARTDT,
      ENDDT,
      RECSDT,
      RECEDT,
      RECNO,
      CURRNO,
      CNCLNO,
      HIT,
      THUMB,
      CHARGE,
      ONOFF,
      PLACE,
      LINK,
      IMG,
      REGDT,
      UPDDT,
      DELDT
      from MEET
      where id = #{id}
  ]]>
</select>


<select id="getNick" resultType="com.honeybee.domain.CodeTableVO">
	select code_table.cname from code_table, meet where (meet.cid=code_table.cid) and (id=#{id})
</select>

<select id="getCategoryName" resultType="String">
	select c.cname from meet m, code_table c where (m.cid = c.cid) and mno= #{mno}
</select>

<update id="countViews">
	update meet set hit = hit + 1 where mno = #{mno}
</update>

<update id="countThumbs">
	update meet set THUMB = (select count(*) from thumb_list where mno = #{mno}) where mno = #{mno}
</update>

<insert id="insertThumbList">
	insert into THUMB_LIST(THUMBNO,ID,MNO) values(#{id}||#{mno}, #{id}, #{mno})
</insert>

<delete id="deleteThumbList">
	delete from THUMB_LIST where THUMBNO = #{id}||#{mno}
</delete>

<select id="checkThumbList" resultType ="com.honeybee.domain.ThumbVO">
	select * from THUMB_LIST where THUMBNO = #{thumbno}
</select>

<update id="applyUpdate">
	update meet set currno = currno+1 where mno = #{mno}
</update>

<update id="deleteUpdate">
	update meet set (currno, CNCLNO) = (select currno-1,CNCLNO+1 from meet where mno = #{mno}) where mno = #{mno}
</update>
</mapper>
