<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honeybee.mapper.SubscribeMapper">

	<select id="getSubscribeList" resultType="com.honeybee.domain.UserVO">
		select nick from user_info where id in (select id2 from subscribe_list where id=#{id})
	</select>
	</mapper>