.title {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.title h4 {
    margin: 0;
}

.minibox {
    display: flex;
}

.minibox img {
    width: 25px;
    height: 20px
}

.minibox .nick small:hover{
    cursor: pointer;
    text-decoration: underline;
}

.minibox .regdate {
    color: #aaa;
    margin-left: 10px;
}

.content {
    margin-bottom: 20px;
    min-height: 500px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

a {
    text-decoration: none;
    color: #000;
}

.blog-comment::before,
.blog-comment::after,
.blog-comment-form::before,
.blog-comment-form::after{
    content: "";
    display: table;
    clear: both;
}

.blog-comment ul{
    list-style-type: none;
    padding: 0;
}

.blog-comment img{
    opacity: 1;
    filter: Alpha(opacity=100);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
        -o-border-radius: 4px;
            border-radius: 4px;
}

.blog-comment img.avatar {
    position: relative;
    float: left;
    margin-left: 0;
    margin-top: 0;
    width: 65px;
    height: 65px;
}

.blog-comment .post-comments{
    border: 1px solid rgb(246, 218, 66);
    margin-bottom: 20px;
    margin-left: 85px;
    margin-right: 0px;
    padding: 10px 20px 0 20px;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
        -o-border-radius: 10px;
            border-radius: 10px;
    background: rgb(246, 218, 66);
    position: relative;
    height: auto;
}

.blog-comment .meta {
    font-size: 13px;
    padding-bottom: 8px;
    margin-bottom: 10px !important;
    border-bottom: 1px solid rgb(62,44,29);
}

.blog-comment ul.comments ul{
    list-style-type: none;
    padding: 0;
    margin-left: 85px;
}

.blog-comment-form{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 40px;
}

.blog-comment h3 {
	margin-top: 10px;
    margin-bottom: 40px;
    font-size: 26px;
    line-height: 30px;
    font-weight: 800;
    color: rgb(48,27,1) !important;
}

.post-comments span {
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.btn {
    padding: 0;
    margin-right: 10px;
    cursor:pointer;
    font-size:12px;
}

.text-green {
    color: #8dc63f !important;
}

.thumb:hover {
    color: #8dc63f !important;
}

.reply {
    width: 90%;
    padding: 10px;
    background-color: #ddd;
    border: none;
    border-radius: 10px;
    outline: none;
}

.fa-reply {
    transform: rotate(180deg);
    margin-right: 10px;
}

.modBtn, .delBtn, #repRegBtn {
	margin-top: 20px;
	outline: none;
	border: none;
}

.modBtn:hover, #repRegBtn:hover {
	cursor: pointer;
	background-color: rgb(246, 218, 66);
}

.delBtn:hover {
	cursor: pointer;
	background-color: red;
	color: white;
}

.lstBtn {
	margin-top: 20px;
	outline: none;
	border: none;
}

.lstBtn:hover {
	cursor: pointer;
	background-color: #3498db;
}

li.rp {
	position: relative;
}

li.rp > i.re {
	position: absolute;
	left: -30px;
	top: 22px;
}

.write-cm {
	margin-bottom: 20px;
}

.write-rp {
	margin-bottom: 20px;
}

.repl {
    position: absolute;
    border: none;
	background-color: transparent;
	font-size: 13px;
    bottom: 3px;
    right: 10px;
}

.repl:hover {
	cursor: pointer;
	color: #3498db;
}

button:focus {
	outline: none;
}